<table style="width: 100%;"> <tr> <td style="width: 20%; vertical-align: top;"> <img src="https://upload.wikimedia.org/wikipedia/commons/archive/f/fb/20161010213812%21Escudo-UdeA.svg" alt="UdeA" height="150px"> </td> <td style="width: 80%; padding-left: 20px;"> <strong style="font-size: 30px;">EXPLORACIÓN DEL CONJUNTO DE DATOS PARA EL DESARROLLO DE UN SISTEMA DE RECOMENDACIÓN DE PELÍCULAS - PROYECTO MARKETING</strong><br><br> <span style="font-size: 30px;"> Luisa Fernanda Alzate Cuartas <br> Juan Camilo Henao Caro<br>Isabella Mendez Hoyos<br> Fernando Antonio Piñeres Ramos </span> </td> </tr> </table>

#### LIBRERÍAS REQUERIDAS

In [1]:
#Conexión de Google Colab con Drive.
from google.colab import drive
drive.mount('/content/drive')

#Acceder a los archivos de la carpeta marketing para el uso de funciones.
import sys
sys.path.append('/content/drive/MyDrive/marketing/Marketing')

Mounted at /content/drive

In [4]:
import pandas as pd # Manipulación y el analísis de datos.
import sqlite3 as sql # Interactuar con base de datos SQL usando Python.
from a_funciones import separar
from sklearn.preprocessing import MultiLabelBinarizer

ModuleNotFoundError: No module named 'a_funciones'

#### CONEXIÓN CON LA BASE DE DATOS

In [3]:
#Establece una conexión a la base de datos SQLite ubicada en "content/db_movies"
conexion = sql.connect("/content/drive/MyDrive/marketing/Marketing/data/db_movies")

# Crear un cursor a partir de la conexión, que permita ejecutar comando SQL sobre la base de datos.
cur = conexion.cursor()

OperationalError: unable to open database file

In [ ]:
# Ejecuta una consulta SQL que obtiene los nombres de todas las tablas existentes en la base de datos.
cur.execute("SELECT name FROM sqlite_master where type='table' ")

# Recupera todos los resultados de la consulta anterior en forma de lista de tuplas.
cur.fetchall()

#### EXPLORACIÓN DE LAS TABLAS

##### TABLA MOVIES

In [ ]:
# Ejecuta la consulta SQL "SELECT * FROM movies" sobre la base de datos y carga los resultados en un DataFrame de pandas.
table_movies = pd. read_sql_query("SELECT * FROM movies", conexion)
table_movies.head()




```
# Transformaciones requeridas en la tabla movies
  - Separar el nombre de la película y el año de estreno.
  - Separación de los generos.
```

In [ ]:
#Uso de la función para separar los años de las películas, basadas en SQL
table_movies = separar(conexion)
table_movies

In [ ]:
table_movies['genres'] = table_movies['genres'].str.split('|')

# Creamos el binarizador que convertirá las listas de géneros en columnas con 0 y 1
mlb = MultiLabelBinarizer()

# Aplicamos el binarizador a la columna 'genero' que contiene listas
generos_bin = mlb.fit_transform(table_movies['genres'])

# Creamos un nuevo DataFrame con esa matriz y ponemos como nombres de columna los géneros encontrados
df_generos = pd.DataFrame(generos_bin, columns=mlb.classes_)

# Unimos el DataFrame original (df_movies) con el nuevo DataFrame de géneros binarizados
df_movies = pd.concat([table_movies, df_generos], axis=1)

# DataFrame final con las nuevas columnas ya agregadas
display(df_movies.head())

In [ ]:
# Eliminamos la columna 'genres' porque ya no es necesaria
df_movies = df_movies.drop(columns=['genres'])

display(df_movies)

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             9742 non-null   int64
 1   title               9742 non-null   object
 2   genres              9742 non-null   object
 3   year                9729 non-null   object
 4   (no genres listed)  9742 non-null   int64
 5   Action              9742 non-null   int64
 6   Adventure           9742 non-null   int64
 7   Animation           9742 non-null   int64
 8   Children            9742 non-null   int64
 9   Comedy              9742 non-null   int64
 10  Crime               9742 non-null   int64
 11  Documentary         9742 non-null   int64
 12  Drama               9742 non-null   int64
 13  Fantasy             9742 non-null   int64
 14  Film-Noir           9742 non-null   int64
 15  Horror              9742 non-null   int64
 16  IMAX                9742 non-null   int64
 17  Musical             9742 non-null   int64
 18  Mystery             9742 non-null   int64
 19  Romance             9742 non-null   int64
 20  Sci-Fi              9742 non-null   int64
 21  Thriller            9742 non-null   int64
 22  War                 9742 non-null   int64
 23  Western             9742 non-null   int64
dtypes: int64(21), object(3)
memory usage: 1.8+ MB

In [ ]:
df_movies.isnull().sum()

movieId                0
title                  0
genres                 0
year                  13
(no genres listed)     0
Action                 0
Adventure              0
Animation              0
Children               0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
IMAX                   0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
dtype: int64

In [ ]:
total_observaciones = df_movies.size
total_nulos = df_movies.isnull().sum().sum()
porcentaje_nulos = (total_nulos / total_observaciones) * 100
print(f" el porcentaje de datos nulos de la base de datos de movies es: {porcentaje_nulos:.2f}%")

 el porcentaje de datos nulos de la base de datos de movies es: 0.01%

In [ ]:

df_movies['genres'] = df_movies['genres'].apply(tuple)
duplicados = df_movies.duplicated().sum()
print(f"Cantidad de duplicados: {duplicados}")

Cantidad de duplicados: 0

Transformaciones necesarias para la tabla movies: separar de la columna title el nombre de la película de la fecha de estreno y separar los generos.

In [ ]:
pd.read_sql_query("""
select * from movies where title like '%Goodnight Mommy%'

""", conexion)

##### TABLA RATINGS

In [ ]:
# Ejecuta la consulta SQL "SELECT * FROM ratings" sobre la base de datos y carga los resultados en un DataFrame de pandas.
pd.read_sql_query("SELECT * FROM ratings", conexion)

Transformaciones necesarias para la tabla ratings: Transformar la columna timestamp en formato fecha.

In [ ]:
# Consulta para obtener la tabla ratings con la columna timestamp convertida a fecha
ratings_df = pd.read_sql_query("SELECT *, datetime(timestamp, 'unixepoch') AS date FROM ratings", conexion)

# Muestra el DataFrame con la nueva columna de fecha
print(ratings_df.head())

ratings_df.to_sql("ratings_with_date", conexion, if_exists="replace", index=False)

#### PREGUNTAS PARA EXPLORACIÓN GENERAL

¿Cuántas películas hay registradas en total?

¿Cuántos géneros diferentes existen?

¿Cuál es el género más común entre las películas?

¿Cuántas calificaciones (ratings) hay en total?

¿Cuántos usuarios distintos han dado calificaciones?

¿Qué película tiene más calificaciones?

¿Qué usuario ha dado más calificaciones?

¿Cuál es la distribución de las calificaciones? (¿hay más 5.0, 4.0, etc.?)

¿Existen películas sin ninguna calificación?

¿Cuál es el promedio de calificación por película?

¿Cuál es el promedio de calificación por usuario?

¿Cuál es el rango de años de las películas? (¿de qué año a qué año?)

#### PREGUNTAS PARA DETENCCIÓN DE PROBLEMAS O CALIDAD DE DATOS

¿Hay películas con el mismo nombre pero diferente movieId?

¿Hay calificaciones fuera del rango esperado (por ejemplo, menores a 0 o mayores a 5)?

¿Existen valores nulos o vacíos en alguna columna?

¿Hay géneros desconocidos o no estandarizados?

¿Hay películas sin año de estreno?

#### PREGUNTAS PARA VISUALIZACIÓN DE DISTRIBUCIONES

Cómo es la distribución de las calificaciones?

¿Cómo es la distribución del número de calificaciones por película?

¿Cómo es la distribución del número de calificaciones por usuario?

¿Cómo varía la calificación promedio a lo largo de los años?

#### PREGUNTA ANÁLISIS AVANZADO

(Cruzar tablas y buscar patrones)

¿Cuál es el género que tiene mejores calificaciones promedio?

¿Las películas más recientes tienen mejores calificaciones que las antiguas?

¿Qué usuarios tienden a calificar más bajo o más alto?

¿Hay algún patrón entre género y año de estreno?

¿Cuál es la película mejor calificada?

¿Cuál es la película peor calificada?

¿Existe algún año donde se estrenaron muchas películas de un género específico?

¿Cómo cambia la popularidad de géneros a lo largo del tiempo?